<h1 class="text-center">Actors<% if current_user && current_user.try(:admin?) %>
    <%= link_to "Add new actor", new_actor_path, class: "btn btn-success" %><% end %>
</h1>

<div class="post_one">
  <% @actors.each do |star| %>
    <div class="card" style="width:400px">
      <%= image_tag star.avtor.url ,class:"card-img-top"%>
      <div class="card-body">
        <h4 class="card-title"><%= star.name  %></h4>
        <p class="card-text"><%= truncate(star.description, length: 45) %></p>
        <%= link_to "about", actor_path(star), class: "btn btn-info" %>
        <% if current_user && current_user.try(:admin?) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


<br><br>
