<li>
  <div class="">
   <p><%= image_tag helpimg(comment.user_id), class: "image-oval" %> <%= link_to help(comment.user_id), user_path(comment.user_id) %></p>
    <p><%= comment.body %></p>
  <small>Submitted <%= time_ago_in_words(comment.created_at) %> ago</small>

  <%= form_for [comment, Comment.new] do |f| %>
    <%= f.text_area :body, placeholder: "Add a Reply", minlength:"3", maxlength:"300",required:true, class:"form-control" %><br/>
      <%= f.text_area :user_id, value:current_user.id, style:"display:none" %>
    <%= f.submit "Reply", class:"btn btn-success"  %>
  <% end %>

  <ul>
    <%= render comment.comments %>
  </ul>
  </div>
</li>