<h1 class="text-center"><%= t('profile.name') %></h1>
<div class="information_profile text-center">
<% if @user.privat? %>
<p><%= t('profile.private') %></p>
<% else %>
    <%= render partial: "films/information", locals: {current_user:@user}, cached: true %>
    <hr>
    <%= render partial: "films/favorites",locals:{current_user:@user}, cached: true %>
    <%= render partial: "films/activity", locals:{current_user:@user}, cached: true %>
<% end %>

</div>