<h1 class="text-center"><%= t('profile.name') %></h1>
<div class="information_profile text-center">
  <p><%= t('profile.localize') %>:</p>
  <%= link_to 'English', root_path(locale: :en), class: "btn btn-warning" %>
  <%= link_to 'Русский', root_path(locale: :ru), class: "btn btn-warning" %>
<% if current_user.try(:admin?) %>
    <%= render partial: "films/information", locals: {current_user:current_user} %>
    <p> <%= link_to t('profile.update'), edit_path, class:"btn btn-info" %></p>
<% elsif user_signed_in? %>
    <% if current_user.privat %>
      <p><%= t('profile.onlyforyou') %></p>
    <% else %>
      <p><%= t('profile.forall') %></p>
    <% end %>
    <%= render partial: "films/information", locals: {current_user:current_user} %>
    <p> <%= link_to t('profile.update'), edit_path, class:"btn btn-info" %></p>

    <% else %>
    <span><%= t('profile.guest') %> <%= link_to t('profile.signup'), new_user_registration_path %></span>

<% end %>

  </div>