<h1 class="text-center"><%= t('profile.name') %> <%= current_user.name%></h1>
<div class="information_profile text-center">

  <p><%= t('profile.localize') %>: </p>
  <%= link_to 'English', root_path(locale: :en), class: "btn btn-warning" %>
  <%= link_to 'Русский', root_path(locale: :ru), class: "btn btn-warning" %>
  <% if current_user.try(:admin?) || user_signed_in? %>
    <%= render partial: "films/information" %>
    <hr>
    <%= render partial: "films/favorites"%>
    <%= render partial: "films/activity"%>
    <p> <%= link_to 'Update/Edit information', edit_path, class:"btn btn-info" %></p>
    <% if current_user.privat %>
      <p><%= t('profile.onlyforyou') %></p>
    <% else %>
      <p><%= t('profile.forall') %></p>
    <% end %>
  <% else %>
    <span>Гость <%= link_to 'Sign Up', new_user_registration_path %></span>
    <span><%= t('profile.guest') %> <%= link_to t('profile.signup'), new_user_registration_path %></span>

  <% end %>
</div>
