<h2>Last activity:</h2>
<% current_user.comments.last(3).each do |comment|  %>
  [<%= comment.created_at.strftime("%m/%d/%Y, %I:%M%p") %>] <%= current_user.username || current_user.email %> commented <%= link_to comment.commentable_type, film_path(comment.commentable_id) %>
  <hr>
<% end %>
<% current_user.favorites.last(3).each do |favorite| %>
  [<%= favorite.created_at.strftime("%m/%d/%Y, %I:%M%p") %>] <%= current_user.username || current_user.email %> favorited this film: <%= link_to favorite.film.name, favorite.film %>
  <hr>
<% end %>
<% current_user.albums.last(3).each do |album| %>
  [<%= album.created_at.strftime("%m/%d/%Y, %I:%M%p") %>] <%= current_user.username || current_user.email %> Create album: <%= link_to album.name, album_path(album) %>
  <hr>
<% end %>