<div class="main_add_film">
<div class="form-group">
<%= f.input :name, class:"form-control",id:"input_name", minlength:"3",maxlength:"40", required: true %>
</div>
  <div class="form-group">
<%= f.input :producer, class:"form-control", id:"input_producer", minlength:"10", maxlength:"400", required: true  %>
  </div>
    <div class="form-group">
<%= f.input :description, class:"form-control", id:"input_description",minlength:"30",maxlength:"800", required: true  %>
    </div>
      <div class="form-group">
<%= f.date_field :time_create, class:"form-control", id:"input_time", required: true, id:"dataPickerId", max: Date.today  %>
      <%= f.association :franchise %>
      </div>
</div>