<div class="main_add_film">
<div class="form-group">
  <label for="input_name"><%= t('film.name') %>:</label>
<%= f.text_field :name, class:"form-control",id:"input_name", minlength:"3",maxlength:"40" %>
</div>
  <div class="form-group">
    <label for="input_producer"><%= t('film.producers') %>:</label>
<%= f.text_field :producer, class:"form-control", id:"input_producer", minlength:"10", maxlength:"400"  %>
  </div>
    <div class="form-group">
      <label for="input_description"><%= t('film.description') %>:</label>
<%= f.text_area :description, class:"form-control", id:"input_description",minlength:"30",maxlength:"800"  %>
    </div>
      <div class="form-group">
        <label for="input_time"><%= t('film.date') %>:</label>
<%= f.date_field :time_create, class:"form-control", id:"input_time", required: true, id:"dataPickerId", max: Date.today  %>
      </div>
</div>