<div class="main_add_film">
<div class="form-group">
  <label for="input_name">Name:</label>
<%= f.text_field :name, class:"form-control",id:"input_name", minlength:"3",maxlength:"40" %>
</div>
<div class="form-group">
  <label for="input_actor">Actors:</label>
<%= f.text_field :actor, class:"form-control", id:"input_actor", minlength:"10", maxlength:"400" %>
</div>
  <div class="form-group">
    <label for="input_producer">Producers:</label>
<%= f.text_field :producer, class:"form-control", id:"input_producer", minlength:"10", maxlength:"400"  %>
  </div>
    <div class="form-group">
      <label for="input_description">Description:</label>
<%= f.text_area :description, class:"form-control", id:"input_description",minlength:"30",maxlength:"800"  %>
    </div>
      <div class="form-group">
        <label for="input_time">Premier date:</label>
<%= f.date_field :time_create, class:"form-control", id:"input_time", required: true, id:"dataPickerId", max: Date.today  %>
      </div>
</div>