
<p><%= t('information.username') %>: <%= current_user.username %></p>
<p><%= t('information.status') %>:
  <% if current_user.try(:admin?) %>
    <span> <%= t('information.admin') %></span>
  <% else %>
    <span><%= t('information.user') %></span>
    <% end %>
    </p>

<p >
   <%= image_tag picturevalid(current_user.avatar.url), class:"main_photo_url"%>
  </p>
<p><%= t('information.about') %>: <%= current_user.about %></p>
<p><%= t('information.email') %>: <%= current_user.email %></p>
<p><%= t('information.firstname') %>: <%= current_user.first_name %></p>
<p><%= t('information.lastname') %>: <%= current_user.last_name %></p>
<p><%= t('information.birthday') %>: <%= current_user.birthday %></p>

