<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <li class="navbar-brand">
        <%= t('navbar.welcome') %><% if current_user.username? %>
            <%= current_user.username %>
          <% else %>
            <%= current_user.email.split('@')[0] %>
      </li>
          <% end %>
        <li class="nav-item">
          <%= link_to t('navbar.films'), films_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('navbar.posts'), posts_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t("navbar.actors"), actors_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('navbar.franchises'), franchises_path, class:"nav-link" %>
        </li>
          <li class="nav-item">
           <%= link_to t('navbar.profile'), user_root_url, class:"nav-link" %>
          </li>

        <li class="nav-item">
          <%= link_to t('navbar.logout'), destroy_user_session_path, :method => :delete, class: "nav-link"%>
        </li>

      <% else %>
        <li class="nav-item">
          <%= link_to t('navbar.films'), films_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('navbar.posts'), posts_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t("navbar.actors"), actors_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('navbar.franchises'), franchises_path, class:"nav-link" %>
        </li>
        <li class="nav-item ">
        <%= link_to t('navbar.signin'), new_user_session_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
        <%= link_to t('navbar.signup'), new_user_registration_path , class:"nav-link"%>
        </li>

      <% end %>
    </ul>

    <div class="form-inline my-2 my-lg-0">
      <%= form_tag(films_path, method: :get, class: "form-inline", role: 'search') do %>
        <div class="input-group">
          <%= text_field_tag :term %>
          <div class="input-group-btn search-panel">
            <%= link_to 'Clear', films_path, class: "btn btn-warning" %>
            <%= submit_tag 'Search', name: nil, class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>




