
<h1><%= t('film.edit') %></h1>
<%= simple_form_for @film do |f| %>
  <%= render partial: "form", locals: {f:f} %>
  <label class="btn btn-primary">
    <%= t('film.addpreview') %>
    <span style="display:none;">
    <%= f.file_field :picture %>
    </span>
  </label>
  <p><%= f.submit t('film.edit') ,class:"btn btn-success"  %></p>
<% end %>
