<div class="about_film text-center">
    <h1 class="text-center"><%= @film.name %></h1>
  <hr>
  <div class="image_size">
  <%= image_tag @film.picture.url unless @film.picture.nil? %>
  </div>
  <hr>
    <h2><%= t('film.actors') %>:</h2>

    <p class="font-italic "><%= @film.actor %></p>
  <hr>
    <h2><%= t('film.producers') %>:</h2>

    <p class="font-italic "><%= @film.producer %></p>
  <hr>
    <h2><%= t('film.description') %>:</h2>

    <p class="font-italic "><%= @film.description %></p>
  <hr>
    <h2><%= t('film.date') %>:</h2>
    <p class="font-italic " ><strong><%= dateminus(@film.time_create.to_date)%></strong> <%= t('film.datefrom') %></p>
  <hr>
</div>
<br>
<h3>Comments</h3>

<%= form_for [@film, Comment.new] do |f| %>
  <%= f.text_area :body, placeholder: "Add a comment", minlength:"3", maxlength:"300",required:true, class:"form-control" %><br/>
  <%= f.text_area :user_id, value:current_user.id, style:"display:none" %>
  <%= f.submit "Add Comment", class:"btn btn-primary" %>
<% end %>

<ul>
  <%= render @film.comments %>
</ul>

