
<div class="about_film text-center">
    <h1 class="text-center"><%= @film.name %></h1>
  <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Flocalhost%3A3000%2Ffilms%2F2&width=50&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId=2449518141772829"
          width="300" height="80"
          style="border:none;overflow:hidden"
          scrolling="no" frameborder="0"
          allowTransparency="true" allow="encrypted-media">

  </iframe>
  <div class="fb-like" data-href="<%= "http://localhost:3000/films/"+ @film.id.to_s + "?locale=/(en|ru)/" %>" data-width="50" data-layout="standard"
  data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
  <hr>
  <div class="image_size">
  <%= image_tag @film.picture.url unless @film.picture.nil? %>
  </div>
  <hr>
    <h2><%= t('film.actors') %>:</h2>

    <p class="font-italic "><%= @film.actor %></p>
  <hr>
    <h2><%= t('film.producers') %>:</h2>

    <p class="font-italic "><%= @film.producer %></p>
  <hr>
    <h2><%= t('film.description') %>:</h2>

    <p class="font-italic "><%= @film.description %></p>
  <hr>
    <h2><%= t('film.date') %>:</h2>
    <p class="font-italic " ><strong><%= dateminus(@film.time_create.to_date)%></strong> <%= t('film.datefrom') %></p>
  <hr>
</div>
<br>
<h3><%= t('comments.comments') %></h3>
<% if current_user %>
<%= form_for [@film, Comment.new] do |f| %>
  <%= f.text_area :body, placeholder: "Add a comment", minlength:"3", maxlength:"300",required:true, class:"form-control" %><br/>
  <%= f.text_area :user_id, value:current_user.id, style:"display:none" %>
  <%= f.submit t('comments.add'), class:"btn btn-primary" %>
<% end %>
  <% else %>
  <p><%= t('film.warning') %></p>
<% end %>
<ul>
  <%= render @film.comments %>
</ul>

