
<div class="about_film text-center">
    <h1 class="text-center"><%= @film.name%>
      <small style="font-size: 14px;color: yellow" class="btn btn-warning">
      <%= link_to "Add Franchise", new_franchise_path %>
      </small>
      <small style="font-size: 14px;color: red" class="btn btn-danger">
      <%= link_to favorite_text, favorites_update_path(film: @film), id:"favorite" %>
      </small>
    </h1>
  <p>Franchise: <%= @film.franchise_name %></p>
  <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Flocalhost%3A3000%2Ffilms%2F2&width=50&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId=2449518141772829"
          width="300" height="80"
          style="border:none;overflow:hidden"
          scrolling="no" frameborder="0"
          allowTransparency="true" allow="encrypted-media">

  </iframe>
  <div class="fb-like" data-href="<%= "http://localhost:3000/films/"+ @film.id.to_s + "?locale=/(en|ru)/" %>" data-width="50" data-layout="standard"
  data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
  <hr>
  <div class="image_size">
  <%= image_tag @film.picture[0].url unless @film.picture[0].nil? %>
  </div>
  <hr>
  <div class="boxsize">
    <% @film.picture.each do  |image| %>
      <%= image_tag image.url, class:"img-fluid  img-thumbnail actors"%>
    <% end %>
  </div>
  <hr>
    <h2>Actors</h2>
  <% cache "actors" do %>

<div class="boxsize">
      <% @film.actors.each do |actor| %>
      <div class="actorstyle">

      <%= image_tag actor.avtor.url unless actor.avtor.nil? %>
        <p><%=link_to actor.name, actor %></p>

      <% if current_user && current_user.try(:admin?) %>
        <%= link_to "Delete", remove_actor_path(@film, actor), :method => :delete, class: "btn btn-danger" %>

        <% end %>
      </div>
  <% end %>
  <% end %>



  <% if current_user && current_user.try(:admin?) %>
    <% unless @actors.empty?  %>
      <%= form_tag add_actor_path(@film) do %>
        <select name="actor_id", class="form-control">
          <% @actors.each do |actor| %>
            <option value="<%=actor.id%>"><%=actor.name%></option>
          <% end %>
        </select>
        <input type="submit" value="Add actor " class="btn btn-success">
      <% end %>
      <% end %>
    <% end %>

</div>
  <hr>
    <h2><%= t('film.producers') %>:</h2>

    <p class="font-italic "><%= @film.producer %></p>
  <hr>
    <h2><%= t('film.description') %>:</h2>

    <p class="font-italic "><%= @film.description %></p>
  <hr>
    <h2><%= t('film.date') %>:</h2>
    <p class="font-italic " ><strong><%= dateminus(@film.time_create.to_date)%></strong> <%= t('film.datefrom') %></p>
  <hr>
</div>




<h2 class="text-center"><%= @film.reviews.count %> Reviews from professionals, average rating of film: <strong style="color:red"><%= @film.reviews.average('rating') %></strong> </h2>
<hr>
<%= render @film.reviews %>
<% if current_user && current_user.critic %>
  <h2>Add review:</h2>
  <%= render 'reviews/form' %>
<%end %>



<h3><%= t('comments.comments') %></h3>
<% if current_user %>
<%= form_for [@film, Comment.new] do |f| %>
  <%= f.text_area :body, placeholder: "Add a comment", minlength:"3", maxlength:"300",required:true, class:"form-control" %><br/>
  <%= f.text_area :user_id, value:current_user.id, style:"display:none" %>
  <%= f.submit t('comments.add'), class:"btn btn-primary" %>
<% end %>
  <% else %>
  <p><%= t('film.warning') %></p>
<% end %>
<ul>
  <%= render @film.comments %>
</ul>

