<h1 class="text-center"><%= t('posts.blogposts') %><% if current_user && current_user.try(:admin?) %>
<%= link_to t('posts.new'), new_post_path, class: "btn btn-dark" %>
  <% end %></h1>
<h4 class="text-center"><%= t('posts.choose') %>:
                          <%= link_to t('posts.none'), posts_path,style:"color:red" %>,
                    <%= link_to t('posts.actor'), tag_path(:Actor) %>,
                      <%= link_to t('posts.film'), tag_path(:Film) %>,
                <%= link_to t('posts.opinion'), tag_path(:Opinion) %>,
  <%= link_to t('posts.disappointment'), tag_path(:Disappointment) %>
</h4>

<div class="post_one">
  <% @posts.each do |post| %>
     <%= render partial: "post", locals: {post:post} %>

  <% end %>

</div>
