<div class = 'col-md-8 offset-2'>
  <h1 class = "text-center"><%= t('posts.newpost') %></h1>
  <%= simple_form_for @post, url: posts_path do |f| %>
    <%= f.input :title %>
    <%= f.input :creater, input_html: {value: "#{current_user.username}"} %>
    <%= f.input :content%>
    <%= f.input :creater_id, input_html: {value: "#{current_user.id}"} %>
    <label class="btn btn-primary">
      <%= t('posts.photo') %>
      <span style="display:none;">
    <%= f.file_field :avatars, multiple: true, required:true %>
    </span>
    </label>
    <%= f.input :tag_ids, as: :select, collection: Tag.order(:name), label_method: :name, input_html: {multiple: true} %>
    <%= f.submit t('posts.create'), class: 'btn  btn-primary float-right' %>
  <% end %>
</div>