<!DOCTYPE html>
<html>
  <head>
    <title>Video-Portal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render partial: "films/login", locals: {current_user:current_user} %>
  <div class="container main">
    <div class="row">
      <div class="col-md-12">
        <% flash.each do |name, message| %>
        <div class="alert  <% bootstrap_class_for(name) %>" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= message %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
    <%= yield %>
  <script>
      $(document).on('turbolinks:load', function () {
          $('#post_tag_ids').chosen({
              allow_single_deselect: true,
              width: '100%'
          })
      });
  </script>
  </body>
</html>
